@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 38 92% 50%;
  }
 
  .dark {
    --background: 24 9.8% 10%;
    --foreground: 38 92% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-dark text-text-high;
  }
}
